<!DOCTYPE html>
<html lang="EN">
  <head>
    <title>StockGet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# https://dev.to/akshay03/how-to-setup-tailwind-3-on-rails-7-2dbo %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/partials/navbar' %>
    <%# ----------------------------- %>
    <%# Required by devise gem (unless API-only app). %>
    <%# "Ensure you have flash messages in app/views/layouts/application.html.erb." %>
    <div class="notice">
      <%= notice %>
    </div>

    <div class="alert">
      <%= alert %>
    </div>
    <%# ----------------------------- %>
    <%= yield %>
  </body>
</html>
