<!DOCTYPE html>
<html lang="EN" data-theme="dark">
  <%# -------------------------------------------- %>
  <head>
    <title>StockGet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# https://dev.to/akshay03/how-to-setup-tailwind-3-on-rails-7-2dbo %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%# -------------------------------------------- %>
  <body>
    <%= render 'layouts/partials/navbar' %>
    <%# ----------------------------- %>
    <%# Flash messages required by devise gem (unless API-only app). %>
    <%= render 'layouts/partials/notices' %>
    <%= render 'layouts/partials/alerts' %>
    <%# ----------------------------- %>
    <%= yield %>
    <%# ----------------------------- %>
  </body>
</html>
